<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Seek</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
  <link rel="shortcut icon" href="favicon.ico" type="(/img/icon.svg">
</head>
<body>
  <!-- Titulo y Logo -->
  <div class="seek-icon">
    <h1>Seek</h1>
     <i class='bx  bx-circle-outer-dashed-circle'  style='color:#ffffff'></i> 
  </div>
  
  <!-- Btns Registro y Login -->
  <div class="buttons">
    <a href="/login"><button class="btn-inicio">Iniciar Sesión</button></a>
    <a  href="/register"><button class="btn-registro">Registrarse</button></a>
  </div>
 
</body>
</html>
