@import url('/css/style.css');

body {
    background: #000000;
    background: linear-gradient(180deg, rgb(32, 30, 30) 0%, rgba(53, 53, 53, 1) 10%);
    width: 100vw;
    height: 100vh;
}

/* Barra de navegacion */
nav {
    width: 100%;
    padding: 10px 15px;
    /* background-color: lightblue; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
nav i:nth-child(1) {
    font-size: 30px;
    font-weight: lighter;
    margin-left: 10px;
}
nav .seek-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
nav .seek-icon h1 {
    font-family: var(--inika);
    color: var(--blanco);
    font-weight: lighter;
    font-size: 23px;
}
nav .seek-icon i {
    font-size: 15px;
    margin-bottom: 10px;
}

/* Box bienvenida */
.box-bienvenida {
    width: 100%;
    display: flex;
    align-items: start;
    background-color: none;
    padding: 5px 15px;
}
.box-bienvenida p {
    font-family: var(--inika);
    padding: 7px 0;
    width: 100%;
    border-bottom: 1px solid var(--blanco);
    color: #fff;
    font-size: 14px;
}

/* Boton Nueva Tarjeta */
.box-tarjetanueva {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 15px;
    margin-top: 10px;
}
#btn-nueva {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Degradado de izquierda (color sólido) a derecha (transparente) */
    background: linear-gradient(to right, #a0a0a0df 0%, rgba(160,160,160,0) 90%);
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    /* box-shadow: 0 2px 7px 5px rgba(0, 0, 0, 0.1); */
}
#btn-nueva i {
    font-size: 30px;
}

/* Fondo borroso solo cuando se activa el modal */
.blur {
  filter: blur(3px);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px); 
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal.hidden {
  display: none;
}
.modal-content {
  background: #2b2929;
  padding: 10px 15px;
  border-radius: 12px;
  margin: 0 15px;
  width: 400px;
  z-index: 1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  overflow: hidden; /* para que la luz no se salga */

  animation: fadeInUp 0.3s ease-in-out; /* Animación al abrir el modal */
}
.modal-content > * {
  position: relative;
  z-index: 1; /* Los hijos estarán por encima de la luz */
}
/* Capa luz pequeña y difusa */
.modal-content::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 50px;  /* tamaño de la luz */
  height: 50px;
  background: radial-gradient(circle, rgba(255,255,255,0.6) 30%, transparent 80%);
  filter: blur(15px);
  border-radius: 50%;
  pointer-events: none;
  z-index: 0;
  animation: moveLight 8s ease-in-out infinite;
}
.modal-content h2 {
    font-family: var(--inika);
    color: var(--blanco);
    font-weight: lighter;
    font-size: 23px;
    margin-bottom: 7px;
}
.modal-content .inputs-tarjeta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 18px 0;
}
.modal-content .inputs-tarjeta label {
    font-family: var(--inika);
    color: #c7c7c7;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 5px;
}
.modal-content .inputs-tarjeta input,
.modal-content .inputs-tarjeta select
 {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: #4d4b4b;
    color: #fff;
    font-family: var(--inika);
    font-size: 15px;
}
.modal-content .inputs-tarjeta textarea {
    width: 100%;
    min-height: 100px; /* Ajusta según quieras */
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4d4b4b;
    color: #fff;
    font-family: var(--inika);
    font-size: 15px;
    resize: vertical; /* permite al usuario agrandarlo */
}
.modal-content .modal-actions {
    /* background-color: lightblue; */
    width: 100%;
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
}
.modal-content .modal-actions button {
    height: 35px;
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
    background-color: #4d4b4b;
    color: #fff;
    font-family: var(--inika);
    font-size: 15px;
    cursor: pointer;
}
.modal-content .modal-actions button:nth-child(1) {
    background-color: #289803;
}
.modal-content .modal-actions button:nth-child(2) {
    background-color: #980330;
}

/* Container Tarjetas */
#tarjetas-container {
    /* background-color: lightblue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 15px;
}
#tarjetas-container .tarjeta {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
    user-select: none;

    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}
#tarjetas-container .tarjeta span {
    width: 100%;
    height: 100%;
    background-color: #2b2929;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
#tarjetas-container .tarjeta img {
  width: 35px;
}
#tarjetas-container .tarjeta h3 {
    background-color: rgb(34, 135, 224);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    font-family: var(--poppins);
}

/* Estilo del contenedor de descripción + tres puntos */
.tarjeta-resumen {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  margin-top: -5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
/* Ocultar por defecto */
.tarjeta-resumen.oculto {
  display: none;
}
.ver-detalle {
  margin-top: 8px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.icon-ojo {
  transition: all 0.3s ease;
}
.icon-ojo.expandido {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
/* Opcional: cambiar el fondo al pasar el mouse */
.tarjeta:hover {
  background-color: #f5f5f5;
}

/* Texto descripcion tarjeta  */
.txt-descripcion {
  font-family: var(--inika);
  color: #bdbdbd;
  font-size: 13px;
  line-height: 1.5;
  text-overflow: ellipsis;
}
.threedots {
  text-align: center;
  width: 30px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

/* Modal dettalle tarjeta */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal-contenido {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 80%;
  position: relative;
}
.cerrar-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.oculto {
  display: none;
}

/* ANIMACIONES */
/* Abrir modal */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Movimiento de luz */
@keyframes moveLight {
  0%   { transform: translate(0%, 0%); }
  20%  { transform: translate(90%, 10%); }
  40%  { transform: translate(80%, 70%); }
  60%  { transform: translate(10%, 60%); }
  80%  { transform: translate(150%, 90%); }
  100% { transform: translate(0%, 0%); }
}



